<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732937293793-cas6ieep26e68othfe1n5vr82fqb90ib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732937293793-cas6ieep26e68othfe1n5vr82fqb90ib</string>
	<key>API_KEY</key>
	<string>AIzaSyA-JWWGXhsykiZxlNvhxewrxcg5LmX1KcY</string>
	<key>GCM_SENDER_ID</key>
	<string>732937293793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fiico.app</string>
	<key>PROJECT_ID</key>
	<string>control-c0466</string>
	<key>STORAGE_BUCKET</key>
	<string>control-c0466.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:732937293793:ios:0cf879dc2c6169eaf74ca0</string>
</dict>
</plist>
